*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background: $dark-light;
    font-family: 'Open Sans', 'Lato', sans-serif;
    color: $light-inner;
    scroll-behavior: smooth;
}

a {
    color: $bright-yellow;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: $light-inner;
    }
}

button {
    border: none;
    cursor: pointer;
}

main {
    padding: 0px 25px;
}

section {
    margin: 0px auto;
    padding-top: 50px;
    max-width: 1000px;
}

h1 {
    font-size: 2rem;
    color: $bright-yellow;
}