header {
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    padding: 0 1.5625rem;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1000;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            color: $bright-yellow;
        }

        &__links {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 270px;
            background-color: $dark-light;
            box-shadow: 0 10px 30px -15px $navy-shadow;
            border-radius: 10px;
            transition: 0.5s ease-in-out;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                li a {
                    display: block;
                    margin: 15px 0;
                    padding: 0px 25px;
                    transition: 0.3s ease;
                    color: $light-inner;
                    text-transform: capitalize;

                    &:hover {
                        color: $light-blue-green;
                        transform: translateY(3px);
                    }
                }

                .cta {
                    color: $bright-yellow;
                    margin-bottom: 1rem;
                }
            }
        }
        
        .open {
            right: 2%
        }
        

        &__hamburger {
            .menu__toggle {
                width: 2.78em;
                height: 2.09em;
                position: relative;
                background-color: transparent;
                display: inline-flex;
                margin-top: 0.7em;
                color: $bright-yellow;
                z-index: 1001;
                transition: 0.2s ease;

                &::before, &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: currentColor;
                    transition: 0.3s ease-in-out;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    right: 0;
                    width: 72%;
                    top: 1.13em;
                }
            }

            .x {
                transform: scale(0.8);

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    width: 100%;
                    transform: rotate(-45deg);
                }
            }
            
        }
    }
}