$dark: #1b2d35;
$dark-light: #1f3441;
$dark-inner: #082d30;
$light-inner: #a4bbc4;
$light-grey: #a8bec9;
$light-navy: #112240;
$light-blue-green: #37c0ba;
$dark-blue-green: #0a5c5c;
$bright-yellow: #f2b237;
$navy-shadow: rgba(2, 12, 27, 0.7);

$nav-height: 75px;